* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    background-color: #e7bcde;
}

#gameboard {
    width: 450px;
    height: 450px;
    display: grid;
    gap: 12px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #b8bedd;
}

#gameboard > * {
    background-color: #9c89b8;
    border: none;
    color: #f0e6ef;
    font-weight: 600;
    font-size: 120px;
}

#gameboard > *:hover {
    opacity: 0.75;
}

#state {
    font-size: 35px;
    font-weight: 600;
    color: #9c89b8;
}

#reset {
    border: none;
    background: none;
    background-color: #9c89b8;
    color: #f0e6ef;
    font-weight: 600;
    height: 55px;
    width: 140px;
    border-radius: 5px;
    font-size: 30px;
}

#reset:hover {
    opacity: 0.75;
}
